@import "@/styles/variables.scss";

.button {
    background: $blue700;
    border: 0px;
    padding: 15px 105px 15px 105px;
    border-radius: 10px;
    color:$blue50;
    font-weight: 700;
    font-size: clamp(1rem,0.9vw,10rem);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all; 
}

.button:hover {
    background: $gray600;
}